.card-background{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.card-one{
    border: 0;
    background-color:#ffffff;
    border-radius: 20px;

}
.card-ff{
    
    border: 0;
    background-color: white;

}